.tag{
    padding: 1.25rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
}

.tag i{
    color: #ffffff;
    font-size: 2.1875rem;
}
main{
    overflow: visible;
    display: flex;
    justify-content: space-between;
    max-width: 77.5rem;
    width: 100%;
    height: auto;
}
article{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 1.25rem;
    border-radius: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
    height: max-content; 
    padding: 0rem;
}
article img{
    border-radius: 1.5625rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 2.5rem;
}
section{
    display: flex;
    justify-content: center;
    flex: wrap;
    flex-direction: column; 
}
section h2{
    text-align: justify;
    font-size: 2.125rem;
    padding: 0rem 1.25rem;
    margin: 0;
}
section p{
    text-align: justify;
    color: #333;
    font-weight: lighter;
    font-size: 1.375rem;
    padding: 0rem 1.25rem;
    margin: 1.25rem 0 1.25rem;
}
section img{
    width: 100%;
    padding: 1.25rem 1.25rem;
}
aside img{
    border-radius: 100%;
    margin: 1.25rem;
    width: 6.25rem;
    height: auto;
}
aside{ 
    position: sticky;
    top: 0.9375rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 22.5rem;
    width: 100%;
    margin: 1.25rem;
    height: max-content;
    max-height: 45.5rem;
    border-radius: 0.9375rem;
}
aside h2{
    font-size: max(0, 2em, 2.125rem);
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 0.625rem;
    padding: 0 1.25rem;
}
aside h3{
    font-size: max(0, 1.5em, 1.8125rem);
    text-align: center;
    margin-bottom: 0.75rem;
    padding: 0 1.25rem;
}

.main_semelhante{
    margin: auto;
    overflow: visible;
    display: flex;
    max-width: 77.5rem;
    width: max-content;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo_article{
    border-top: solid 3px;
    border-bottom: solid 3px;
    padding: 1.25rem;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: #ffffff;
    border-radius: 10px;
}
.titulos_semenhantes{
    padding: 20px;
    box-sizing: border-box;
    margin: 1.25rem;
    border-radius: 0.9375rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: max-content;
    text-align: justify;
    width: calc(100vw - 3.125rem);
    height: max-content; 
    
}
.section_semelhante{
    flex-direction: row;
    justify-content: center;
    color: #ffffff;

}
.card{
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    /* max-height: 660px; */

}

.texto{
    text-align: center;
    /* color: #ffffff; */

}
.texto h2{
    text-align: center;
    font-size: 24px;
    /* color: #ffffff; */

}
.card i{
    padding: 0.625rem;
    margin: 0;
}
.card p{
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    text-align: center;
}


.header_box{
    border-radius: 0.9375rem;
    width: calc(100vw - 37.5rem);
    width: 380px;
    min-width: 23.75rem;
}

.redes-aside{
    font-size: 1.875rem;
}
.redes-aside i{
    margin: 0.3125rem;
    padding: 0.625rem 0;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.redes-aside i:hover {
    transform: scale(1.2); 
    transition: 0.3s;
    filter: brightness(150%);
}
.tag:hover {
    animation: girar 2s linear infinite;
}
