* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-snap-type: y mandatory;
}
body {
    scroll-snap-type: y mandatory;
    margin: 0;
    background: #fff;
    color: #000;
}

.wrapper_outer {
    scroll-snap-align: start;
    height: 100vh;
    overflow: hidden;
}

.modalParalax p {
    color: #fff;
    font-size: 50px;
}
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    /* perspective: 1px; */
}

#paralaxM{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paralax_section {
    /* border: solid 2px red; */
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: right;
    /* flex-direction: row-reverse; */
    align-items: end;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

@keyframes move {
    to {}

    from {
        background-position: 120% 100%;
    }
}

.paralaxBG {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* background-position: center; */
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50;
    animation: move 20s infinite alternate;
    display: flex;
    align-items: end;
    justify-content: right;
}


.astronauta{
    position: absolute;
    width: 900px;
    top: 50%;
    left: 0;
}

.paralax_section h2 {
    color: #000000;
    margin: 0;
    font-size: 120px;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;

    text-transform: uppercase;
}

.modalParalax h2 {
    font-size: 42px;
    color: #fff;
}
.modalParalax {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: auto;
    width: 900px;
    border-radius: 15px;
    background-color: #00000085;
    text-align: center;
    padding: 50px;
}

.tlModal{
    border-radius: 100px;
    color: white;
    max-width: 80%;
    padding: 15px;
}

.tlModal p h2{
    margin: 0;
    padding: 0;
    
}   




@keyframes moveNav {
    to {}

    from {
        transform: translate(350px, -300px);
    }
}

.like {
    font-size: 150px;

}

.likeAnimation {
    animation: moveNav 2s reverse;
    animation-fill-mode: forwards;
}

i{
    color: #fff;
    font-size: 130px;
    margin-right: 100px;
}

.DivCarregar{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: none;

}
#topSite{
    color: #fff;
    font-size: 55px;
}
.carregar{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    animation: girar 5s linear forwards;
}

@keyframes girar {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}