* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background: #fff;
    color: #000;
}

.wrapper_outer {
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    /* perspective: 1px; */
}

.paralax_section {
    /* border: solid 2px red; */
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: right;
    /* flex-direction: row-reverse; */
    align-items: end;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

@keyframes move {
    to {}

    from {
        background-position: 120% 100%;
    }
}

.paralaxBG {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* background-position: center; */
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50;
    animation: move 20s infinite alternate;
    display: flex;
    align-items: end;
    justify-content: right;
}




.paralax_section h2 {
    color: #000000;
    margin: 0;
    font-size: 120px;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;

    text-transform: uppercase;
}

.modalParalax h2 {
    color: #fff;
}

.modalParalax {
    border-radius: 15px;
    background-color: #00000085;
}


@keyframes moveNav {
    to {}

    from {
        transform: translate(350px, -300px);
    }
}

.like {
    font-size: 150px;

}

.likeAnimation {
    animation: moveNav 2s reverse;
    animation-fill-mode: forwards;
}

.paralax_section i{
    color: #fff;
    font-size: 130px;
    margin-right: 100px;
}

