*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom ,#0f0119,#3c0149,#00010a,#021b72,#000000);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto; 
    margin: auto;
    letter-spacing: 0.3px
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 20px 5px 20px 15px;
}
#logo{
    width: 250px; 
}
.login-button button {
    border: none;
    background-color: #25c169;
    padding: 10px;
    width: 6.25rem;
    border-radius: 0.625rem;
    color: #ffff;
    font-size: 0.75rem;
    cursor: pointer;
}

main{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}
.kpi{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%;
}
.PaiGrafico{
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
.box {
    color: #fff;
    background-color: rgb(80, 10, 146);
    width: 150px;
    height: 150px;
    margin: 10px 0px 0 0px;
    background-size: cover;
    text-align: center;
}